* {
    --rich-black: #000814ff;
    --oxford-blue: #001d3dff;
    --prussian-blue: #003566ff;
    --mikado-yellow: #ffc300ff;
    --gold-web-golden: #ffd60aff;
    --sandy-brown: #F4A261;
    --persian-green: #2A9D8F;
    --genmarq: 1em;
    --rad: 10%;
    margin: 0;
    padding: 0;
}

.boday {
    overflow: hidden;
}

#headlogo {
    position: relative;
    z-index: 10;
}

.clouds {
    z-index: -1;
    height: 100px;
    scale: 0.5em;
}

.sky {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-top: -20vh;
}

.headerbox {
    height: calc(100vh -);
    width: 100vw;
    background-color: var(--oxford-blue);
    /* uncomment me lter */
    /* display: none; */
}

.arro-holder-1,
.arro-holder-2,
.arro-holder-3 {
    display: flex;
    background-color: var(--oxford-blue);
}

body,
.headerbox1,
.headerbox2,
.headerbox3 {
    background-color: var(--oxford-blue);
}

.khtka {
    border-radius: var(--rad);
}

.holder {
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* margin-top: 20vh; */
    background-color: var(--oxford-blue);
}

.headingAnim {
    font-family: 'Helvetica';
    font-weight: 900;
    font-size: 3em;
    text-align: center;
}

.catchyText {
    position: relative;
    color: rgba(196, 0, 0, 0);
    background: linear-gradient(to right, var(--gold-web-golden), var(--sandy-brown), var(--mikado-yellow), var(--persian-green), var(--persian-green), var(--mikado-yellow), var(--sandy-brown));
    background-size: 400%;
    background-clip: border-box;
    -webkit-background-clip: text;
    animation: sTransition 10s linear infinite;
    z-index: 100;
}

@keyframes sTransition {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.downArrow {
    scale: .55;
    width: 10%;
}

.foramHeadin {
    text-align: center;
    text-transform: uppercase;
}

.admtextcentfeat {
    color: var(--gold-web-golden);
}

.admboday {
    overflow-x: hidden;
}

.backgroundadmtext {
    background-color: var(--oxford-blue);
}